h1 Here's what we found!

section#sanitized
  p Street: #{personsReps.address.street}
  p City: #{personsReps.address.city}, County: #{personsReps.address.county}
  p State: #{personsReps.address.state}, ZIP: #{personsReps.address.zip}
  p Congressional Distrct: #{personsReps.congressDistrict}, State Level Upper House District: #{personsReps.stateSenateDistrict}, State Level Lower House District: #{personsReps.stateHouseDistrict}
section#federal.row
  include ./fedresults.jade

section#state.row
  include ./stateresults.jade

if personsReps.mayor.name != "Not Found"
  section#local.row
    h2 Local Level Representative
    #mayor.col-xs-10.col-xs-offset-1
      img(src=personsReps.mayor.photo)
      h3 Mayor
      p Name: #{personsReps.mayor.name}
      if personsReps.mayor.website != "Not Found"
        p Website: <a href="#{personsReps.mayor.website}">#{personsReps.mayor.name}</a>
      if personsReps.mayor.email != "Not Found"
        p Email: #{personsReps.mayor.email}
section#closing.row
  .col-xs-4
    a(href="/register") Save this info?
  .col-xs-4
    a(href="/findrep") Search for a different address?
  .col-xs-4
    p "What went wrong?" There may be some information that is either out of date or was unable to be located. In a constantly evolving landscape we do our best to stay up date, but in the meantime just keep checking back!
