h2 Federal Level Representatives
#senator1.col
  img(src=personsReps.senator1.photo)
  h3 United States Senator
  p Name: #{personsReps.senator1.name}
  if personsReps.senator1.website != "Not Found"
    p Website: <a href="#{personsReps.senator1.website}">#{personsReps.senator1.name}</a>
  if personsReps.senator1.email != "Not Found"
    p Email: #{personsReps.senator1.email}

#senator2.col
  img(src=personsReps.senator2.photo)
  h3 United States Senator
  p Name: #{personsReps.senator2.name}
  if personsReps.senator2.website != "Not Found"
    p Website: <a href="#{personsReps.senator2.website}">#{personsReps.senator2.name}</a>
  if personsReps.senator2.email != "Not Found"
    p Email: #{personsReps.senator2.email}

#congressman.col
  img(src=personsReps.congressMember.photo)
  h3 United States Congress Member
  p Name: #{personsReps.congressMember.name}
  if personsReps.congressMember.website != "Not Found"
    p Website: <a href="#{personsReps.congressMember.website}">#{personsReps.congressMember.name}</a>
  if personsReps.congressMember.email != "Not Found"
    p Email: #{personsReps.congressMember.email}
