h2 State Level Representatives
#governor.col
  img(src=personsReps.governor.photo)
  h3 Governor
  p Name: #{personsReps.governor.name}
  if personsReps.governor.website != "Not Found"
    p Website: <a href="#{personsReps.governor.website}">#{personsReps.governor.name}</a>
  if personsReps.governor.email != "Not Found"
    p Email: #{personsReps.governor.email}

#stateSenator.col
  img(src=personsReps.stateSenator.photo)
  h3 State Senator
  p Name: #{personsReps.stateSenator.name}
  if personsReps.stateSenator.website != "Not Found"
    p Website: <a href="#{personsReps.stateSenator.website}">#{personsReps.stateSenator.name}</a>
  if personsReps.stateSenator.email != "Not Found"
    p Email: #{personsReps.stateSenator.email}

#stateHouse.col
  img(src=personsReps.stateHouse.photo)
  h3 State Congress Member
  p Name: #{personsReps.stateHouse.name}
  if personsReps.stateHouse.website != "Not Found"
    p Website: <a href="#{personsReps.stateHouse.website}">#{personsReps.stateHouse.name}</a>
  if personsReps.stateHouse.email != "Not Found"
    p Email: #{personsReps.stateHouse.email}
