extends ../templates/basic.jade

block content
  .jumbotron#action-banner
    section.row
      h1.col-xs-12 (3)
      h1.col-xs-12 Get Involved!

  section.info-finder
    h1 Election Information in Your Area
    p Use your address to find the elections in your area and links to help you get started
    .row
      form(action="/action" method="post").col-xs-8.col-xs-offset-2
        .input-group
          input.form-control(type="text" name="address" placeholder="Enter Your Legal Residence Here...")
          span.input-group-btn
            input.btn.btn-primary(type="submit" value="Look up my info")
    if !locals.user
      h4 Tired of typing in your address all the time? <a href="/register">Register</a> to automate this process!

  if actionInfo
    section.address
      .row.arrow
        .col-sm-3
          h2 Address Searched
        .col-sm-9
          h3 <span class="bold-address">Street:</span> #{actionInfo.address.street}, <span class="bold-address">City:</span> #{actionInfo.address.city}, <span class="bold-address">State:</span> #{actionInfo.address.state}, <span class="bold-address">ZIP:</span> #{actionInfo.address.zip}

    section#voter-info
      include ./includes/voter.jade

    section#election-info
      .row
        .col-sm-12
          p.largest Participate in Elections
      .row.arrow
        .col-sm-4
          h2 Upcoming US Elections
        .col-sm-8.local-col.left
          each thing, index in actionInfo.allElections
            h3= "What: " + thing.name
            h4= "When: " + thing.electionDay
      .row
        h1 Elections in Your State
        each title, index in actionInfo.stateElections
          .row
            h3= 'Candidates for ' + title.office
            each val, index in title.candidates
              .col-sm-3
                .thumbnail
                  h4= val.name
                  p= 'Party: ' + val.party
                  if val.candidateUrl
                    p Website:
                      a(href="#{val.candidateUrl}") #{val.name}

    section#make-change
      .row

