extends ../templates/basic.jade

block content
  .jumbotron#action-banner
    section.row
      h1.col-xs-12 (3)
      h1.col-xs-12 Get Involved!

  section.info-finder
    h1 Election Information in Your Area
    p Use your address to find the elections in your area and links to help you get started
    .row
      form(action="/action" method="post").col-xs-8.col-xs-offset-2
        .input-group
          input.form-control(type="text" name="address" placeholder="Enter Your Legal Residence Here...")
          span.input-group-btn
            input.btn.btn-primary(type="submit" value="Look up my info")
    if !locals.user
      h4 Tired of typing in your address all the time? <a href="/register">Register</a> to automate this process!

  if actionInfo
    section.address
      .row.arrow
        .col-sm-3
          h2 Address Searched
        .col-sm-9
          h3 <span class="bold-address">Street:</span> #{actionInfo.address.street}, <span class="bold-address">City:</span> #{actionInfo.address.city}, <span class="bold-address">State:</span> #{actionInfo.address.state}, <span class="bold-address">ZIP:</span> #{actionInfo.address.zip}

    section.voter-info
      include ./includes/voter.jade

    section#election-info
      .container
        .row
          .col-sm-12
            p.largest Participate in Elections
        .row.arrow
          .col-sm-4
            h2 Upcoming US Elections
          .col-sm-8.local-col.left
            each thing, index in actionInfo.allElections
              h3= "What: " + thing.name
              h4= "When: " + thing.electionDay
        .row
          h1 Elections in Your State
          each title, index in actionInfo.stateElections
            .row
              h3= 'Candidates for ' + title.office
              each val, index in title.candidates
                .col-sm-3
                  .thumbnail
                    h4= val.name
                    p= 'Party: ' + val.party
                    if val.candidateUrl
                      p Website:
                        a(href="#{val.candidateUrl}") #{val.name}

    section#make-change.arrow
      .row
        .col-xs-12
          p.largest Petition for Change
      .row
        .col-xs-8.col-xs-offset-2
          p.large The right to petition is guaranteed by the First Amendment. Petitions are an important way to appeal for a particular cause.
      .row
        .col-sm-5.col-xs-offset-1.fed-col.local-col
          h1 <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
          h1 <a href="http://petitions.whitehouse.gov" target="_blank">Whitehouse.gov</a>
          h3 If a petition crosses 100,000 signatures within 30 days, the White House will review it and respond.
        .col-sm-5.local-col.fed-col
          h1 <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
          h1 <a href="https://www.change.org/start-a-petition" target="_blank">Change.org</a>
          h3 Support the causes you care about or start your own in the world's largest petitioning platform.

