extends ../templates/basic.jade

block content
  h1 #{locals.user.fName}'s dashboard

  //- info about the user
  .row
    section.col-md-6.blue
      h2 User Info
      h3 Name: #{locals.user.fName} #{locals.user.lName}
      h3 Date of Birth: #{locals.user.dob}
      h3 Address:
      h4 Street: #{locals.user.address}
      h4 City: #{locals.user.city}  State: #{locals.user.state}  Zipcode: #{locals.user.zip}
      p Are you a citizen and over 18? #{locals.user.canVote}

    section.col-md-6.red
      //- Helpful websites particular to the user
      //- include ./includes/voter.jade
  .row
    section.red
      //- Calendar of important or upcoming deadlines
    section.blue
      //- Messages
  section
    //- Election Info for this week
  section
    //- General Elections particular to user's state
  section
    //- Find rep results
    if personsReps
      include ./includes/displayrep.jade
